.write {
  top: 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.writeImg {
  width: 70vw;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.write form {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
}

.writeFormGroupOne {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.writeFormGroupOne div{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.writeFormGroup {
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 30px;
  height: 30px;
  display: flex;
  color: gray;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

#fileInput {
  display: none;
}

.writeInput {
  width: 70vw;
  outline: none;
  border-radius: 100px;
  border: 2px solid blue;
  padding: 10px 0 10px 15px;
}

.writeText {
  width: 70vw;
  height: 80vh;
  padding: 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
}

.writeSubmit {
  right: 50px;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  background-color: blue;
}
