.write {
  top: 60px;
  padding: 0 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.writeImg {
  width: 70vw;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.write form {
  width: 100%;
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
}

.chooseImg {
  border-radius: 20px;
  background-color: gray;
  margin-top: 10px;
}

.writeInput {
  outline: none;
  width: 70%;
  border-radius: 100px;
  border: 2px solid blue;
  padding: 10px 0 10px 15px;
}

.date {
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.writeFormGroup {
  display: flex;
  align-items: center;
}

.writeText {
  width: 70vw;
  height: 80vh;
  padding: 10px;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
}

.writeSubmit {
  right: 50px;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  background-color: blue;
}
